---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title='Kempo'>
  <section
    class='flex flex-col md:flex-row items-center md:justify-center p-8 mt-8'
  >
    <div class='mt-4 md:mt-0 md:ml-8'>
      <h1 class='text-3xl font-semibold mb-2'>Web Developer</h1>
      <ul class='list-disc list-inside text-left'>
        <li class='mb-2'>HTML, CSS, Javascript</li>
        <li class='mb-2'>React</li>
        <li class='mb-2'>Next.js</li>
        <li class='mb-2'>Node.js</li>
      </ul>
    </div>
  </section>
</BaseLayout>
