---
import BaseLayout from '../layouts/BaseLayout.astro'
import ProjectCard from '@components/ProjectCard.astro'

export type Project = {
  title: string
  demoUrl: string
  codeUrl?: string
  slug: string
  image?: string
  description: string
  tags: string[]
}

const projects: Project[] = [
  {
    title: 'Quizzical',
    demoUrl: 'https://quizzical-njmu.onrender.com',
    codeUrl: 'https://github.com/j00ke1/quizzical',
    image:
      'https://cdn.sanity.io/images/h5ak5goc/production/6e79bb2b6c7cb28df7140d5e5bf4985fc7c5ce1f-1280x1248.png',
    slug: 'hieronta-forma-website',
    description: 'A quiz app built with React and OTDB API.',
    tags: ['React', 'REST API'],
  },
  {
    title: 'Hieronta Forma Website',
    demoUrl: 'https://hierontaforma.fi',
    image:
      'https://cdn.sanity.io/images/h5ak5goc/production/0c6f211b5effda556dcf2c5edc440e714a9b791f-1253x1125.png',
    slug: 'quizzical',
    description: 'Website for a small massage business. Built with Astro.',
    tags: ['HTML', 'CSS', 'Javascript', 'Astro', 'Bootstrap'],
  },
  {
    title: 'E-commerce Store',
    demoUrl: 'https://ecom-store-omega.vercel.app/',
    codeUrl: 'https://github.com/kempodev/ecom-store',
    image:
      'https://cdn.sanity.io/images/h5ak5goc/production/a4715184971d66554395153aeb064ab6ebd91f5e-1243x1222.png',
    slug: 'e-commerce-store',
    description:
      'Frontend e-commerce store which pulls content from the CMS. Includes filtering options for products, cart functionality and checkout with Stripe.',
    tags: ['Next.js', 'Typescript', 'Tailwind CSS', 'Stripe', 'ShadcnUI'],
  },
  {
    title: 'E-commerce Dashboard & CMS',
    demoUrl: 'https://ecom-admin-ten-swart.vercel.app/',
    codeUrl: 'https://github.com/kempodev/ecom-admin',
    image:
      'https://cdn.sanity.io/images/h5ak5goc/production/73b85540de9023abb3b8fce4299a7d65d083ef07-1267x767.png',
    slug: 'e-commerce-admin-dashboard-and-cms',
    description:
      'Admin interface and content management system for an e-commerce store. Includes ability to add, edit and remove products, colors, sizes etc. Supplies content to the e-commerce store frontend.',
    tags: ['Next.js', 'Typescript', 'Clerk', 'Stripe', 'Prisma'],
  },
]
---

<BaseLayout title='Projects - Kempo'>
  <section class='mt-4 px-4 container mx-auto'>
    <h1 class='text-2xl font-bold text-center my-8 md:my-16'>Projects</h1>
    <p class='my-8'>Here are some projects I've worked on.</p>
    <div class='grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 grid'>
      {projects.map((project) => <ProjectCard project={project} />)}
    </div>
  </section>
</BaseLayout>
