---
const currentYear = new Date().getFullYear()
---

<footer class='bg-gray-800 text-gray-100 text-xs w-full mt-8 px-4 py-8'>
  <div class='container flex justify-center items-center mx-auto'>
    <div>
      &copy; {currentYear} Kempo
    </div>
  </div>
</footer>
