<nav class='bg-gray-800 text-gray-100'>
  <div class='flex items-baseline justify-between container mx-auto p-4'>
    <div class='font-bold text-xl'>
      <a href='/'>Kempo</a>
    </div>
    <div class='flex space-x-4 items-center'>
      <a href='/projects' class='hover:underline'>Projects</a>
      <a href='/about' class='hover:underline hidden'>About</a>
      <a href='/contact' class='hover:underline'>Contact</a>
    </div>
  </div>
</nav>
